* {
  font-family: "Jersey 10", serif;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

h1 {
  margin-top: 20px;
  font-size: 2.5rem;
}

#game {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #151515;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.cell.taken {
  pointer-events: none;
  color: #63ca23;
  font-size: 3.5rem;
}

#message {
  font-size: 1.9rem;
  margin: 10px 0;
}

#reset {
  background-color: #6731be;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 5px;
  margin-top: 48px;
}

#reset:hover {
  background-color: #874ce6;
}